body {
    background-image: url("background.jpg");
}

.smallImage {
    width: 10%;
}

.HeaderDiv {
    background-image: url("menu.webp");
    height: 100%;
    text-align: center;
    overflow: hidden;
}

h1 {
    color: green;
    text-shadow: 1px 1px 1px 1px black;
    font-size: 5rem;
}

header {
    height: 12rem;
}

.veckans {
    display: grid;
    place-content: center;
   align-items: center;
}

.bild {
    background-color: white;
    width: 40rem;
}