body {
    background-image: url("background.jpg");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.smallImage {
    width: 10%;
}

.HeaderDiv {
    background-image: url("menu.webp");
    height: 100%;
    text-align: center;
    overflow: hidden;
}

h1 {
    color: green;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 300%;
}

header {
    height: 12rem;
    width: 100%;
    margin-bottom: 10px;
}

.card {
    display: grid;
    place-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10%;
}

.bild {
    width: 50%;
}


.cardHolder {
    padding: 0;
    padding-top: 100px;
    background-color: white;
    margin: auto;
    width: 90%;
    height: 500%;
    border-radius: 50px;
}