body {
    background-image: url("background.jpg");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.smallImage {
    width: 10%;
}

.HeaderDiv {
    background-image: url("menu.webp");
    height: 100%;
    text-align: center;
    overflow: hidden;
}

h1 {
    color: green;
    text-shadow: 1px 1px 1px 1px black;
    font-size: 5rem;
}

header {
    height: 12rem;
    width: 100%;
}

.card {
    padding: 10%;
    display: grid;
    place-content: center;
    align-items: center;
}

.bild {
    width: auto;

}


.cardHolder {
    padding: 10%;
    padding-top: 100px;
    background-color: white;
    margin: auto;
    width: 30em;
    height: 500%;
    border-radius: 50px;
}